<!DOCTYPE html>
<html lang="es">

  <head>
    <%- include('partials/header') %>
  </head>

  <body style="background-color: lightsteelblue;">

    <%- include('partials/navigation')  %>

    <% requests.forEach(request => { %>
      <% if (request.isActive) { %>
        <div class="container p-4">
          <form method="POST" action="/request" class="card card-body">
            <div class="form-group row">
              <label for="code" class="col-sm-5 col-form-label">Código de solicitud</label>
              <div class="col-sm-7">
                <input name="code" value="<%= request.code %>" placeholder="<%= request.code %>" type="text" class="form-control"
                  readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="request_description" class="col-sm-5 col-form-label">Descripción solicitud</label>
              <div class="col-sm-7">
                <input name="request_description" value="<%= request.request_description %>"
                  placeholder="<%= request.request_description %>" type="text" class="form-control" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="receiving_date" class="col-sm-5 col-form-label">Fecha de recibido</label>
              <div class="col-sm-7">
                <input name="receiving_date" value="<%= request.receiving_date %>" placeholder="<%= request.receiving_date %>"
                  type="text" class="form-control" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="receiving_employee" class="col-sm-5 col-form-label">Empleado que recibe</label>
              <div class="col-sm-7">
                <input name="receiving_employee" type="text" class="form-control" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="delivery_employee" class="col-sm-5 col-form-label">Empleado que entrega</label>
              <div class="col-sm-7">
                <input name="delivery_employee" type="text" class="form-control" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="customer" class="col-sm-5 col-form-label">Cliente</label>
              <div class="col-sm-7">
                <input name="customer" value="<%= request.customer %>" placeholder="<%= request.customer %>" type="text"
                  class="form-control" readonly>
              </div>
            </div>
            <!-- Detalles del equipo, lectura de cada uno de los campos --------------------------- -->
            <div class="form-group row">
              <label for="devices" class="col-sm-5 col-form-label">Detalle del equipo</label>
              <div class="col-sm-7">
                <input name="devices" value="<%= request.devices %>" placeholder="<%= request.devices %>" type="text"
                  class="form-control" readonly>
              </div>
            </div>
            <!-- Fin detalle del equipo ----------------------------------------------------------- -->
            <div class="form-group row">
              <label for="total_paid" class="col-sm-5 col-form-label">Total a cobrar</label>
              <div class="col-sm-7">
                <input name="total_paid" type="text" class="form-control" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="total_spent" class="col-sm-5 col-form-label">Total en gastos</label>
              <div class="col-sm-7">
                <input name="total_spent" type="text" class="form-control" required>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="item">Pieza reparada</label>
                <input name="item" type="text" class="form-control" id="inputCity">
              </div>
              <div class="form-group col-md-6">
                <label for="action">Procedimiento</label>
                <input name="action" type="text" class="form-control" id="inputZip">
              </div>
              <div class="form-group col-md-2">
                <label for="price">Costo</label>
                <input name="price" type="text" class="form-control" id="inputZip">
              </div>
            </div>
            <div class="form-group row">
              <label for="responsible_employee" class="col-sm-5 col-form-label">Empleado que entrega</label>
              <div class="col-sm-7">
                <input name="responsible_employee" type="text" class="form-control" required>
              </div>
            </div>
            <button class="btn btn-primary" type="submit">Guardar datos de la solicitud</button>
          </form>
        </div>
      <% } %>
    <% }) %>

  </body>

</html>